# Logs
logs
*.log
npm-debug.log*

# Node modules
webapp/node_modules*

# Dist
#server/static/dist

# Libraries
library


# Python
__pycache__
server/venv*
.env
*.pyc

# Database
# Comment it if you want to keep your migrations files commited
*/migrations

# Sensitive data
server/data*

# macOs
.DS_Store

# Settings
.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
